page-verification-number {
    .verify-container {
        .home {
            text-align: center;
            margin-top: 20px;
        }
        .middle-sec {
            text-align: center;
            margin-top: 30px;
        }
        .verify-code {
            width: 39px;
            float: left;
            margin: 0 2px 0 1px;
        }
        .verify-code input {
            width: 100%;
            height: 45px;
            background: #F7F7F7;
            border: 0px;
            text-align: center;
        }
        .btns {
            text-align: center;
            margin-top: 50px;
            .label {
                color: #4A4A4A;
            }
            .signup {
                width: 80%;
                background: linear-gradient(to right, #0653FE, #3484f4);
                color: white;
                width: 100%;
            }
        }
    }
    .list-ios {
        margin: -1px 0 8px;
    }
    .input-ios[clearInput] {
        position: relative;
        padding: 5px;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 0.55px solid #F7F7F7;
    }
    .list-ios>.item-block:first-child {
        border-top: 0.55px solid #F7F7F7;
    }
    .input-ios[clearInput] .text-input {
        padding-right: 30px;
        font-size: 12px;
    }
}