page-settings {
    .button-outline-ios-light {
        border-color: #808080;
        color: #808080;
        background-color: transparent;
    }
    .settings-container {
        background: rgb(239, 239, 239);
        .lower-text {
            white-space: normal;
            font-size: 12px;
        }
    }
}